// ==============================================
// Generated content icon helpers
// ----------------------------------------------
// These can only be used on block or inline-block elements.
// ==============================================

// Non-sprited icons --------------------------------

.prepend-icon( @icon-image, @width, @height, @nudge-left:0, @nudge-top:0, @pad:10 ) when (@using-modernizr) {
	.generatedcontent & {
		position: relative;
		padding-left: (@width + @pad) * 1px;
	}
	.generatedcontent &:before {
		._generated-icon( @width, @height, @icon-image );
		top: @nudge-top;
		left: @nudge-left;
	}
}

.prepend-icon( @icon-image, @width, @height, @nudge-left:0, @nudge-top:0, @pad:10 ) when not (@using-modernizr) {
	position: relative;
	padding-left: (@width + @pad) * 1px;
	&:before {
		._generated-icon( @width, @height, @icon-image );
		top: @nudge-top;
		left: @nudge-left;
	}
}

.append-icon( @icon-image, @width, @height, @nudge-right:0, @nudge-top:0, @pad:10 ) when (@using-modernizr) {
	.generatedcontent & {
		position: relative;
		padding-right: (@width + @pad) * 1px;
	}
	.generatedcontent &:after {
		._generated-icon( @width, @height, @icon-image );
		top: @nudge-top;
		right: @nudge-right;
	}
}

.append-icon( @icon-image, @width, @height, @nudge-right:0, @nudge-top:0, @pad:10 ) when not (@using-modernizr) {
	position: relative;
	padding-right: (@width + @pad) * 1px;
	.generatedcontent &:after {
		._generated-icon( @width, @height, @icon-image );
		top: @nudge-top;
		right: @nudge-right;
	}
}

// Sprited icons --------------------------------

.prepend-sprite-icon(@x, @y, @width, @height, @nudge-left:0, @nudge-top:0, @pad:10, @sprite-image:@sprite-image, @sprite-grid:@sprite-grid) when (@using-modernizr) {
	.generatedcontent & {
		position: relative;
		padding-left: (@width + @pad) * 1px;
	}
	.generatedcontent &:before {
		._generated-sprite-icon( @x, @y, @width, @height, @sprite-image, @sprite-grid );
		top: @nudge-top;
		left: @nudge-left;
	}
}

.prepend-sprite-icon(@x, @y, @width, @height, @nudge-left:0, @nudge-top:0, @pad:10, @sprite-image:@sprite-image, @sprite-grid:@sprite-grid) when not (@using-modernizr) {
	position: relative;
	padding-left: (@width + @pad) * 1px;
	&:before {
		._generated-sprite-icon( @x, @y, @width, @height, @sprite-image, @sprite-grid );
		top: @nudge-top;
		left: @nudge-left;
	}
}

.append-sprite-icon(@x, @y, @width, @height, @nudge-right:0, @nudge-top:0, @pad:10, @sprite-image:@sprite-image, @sprite-grid:@sprite-grid) when (@using-modernizr) {
	.generatedcontent & {
		padding-right: (@width + @pad) * 1px;
		position: relative;
	}
	.generatedcontent &:after {
		._generated-sprite-icon( @x, @y, @width, @height, @sprite-image, @sprite-grid );
		top: @nudge-top;
		right: @nudge-right;
	}
}

.append-sprite-icon(@x, @y, @width, @height, @nudge-right:0, @nudge-top:0, @pad:10, @sprite-image:@sprite-image, @sprite-grid:@sprite-grid) when not (@using-modernizr) {
	position: relative;
	padding-right: (@width + @pad) * 1px;
	&:after {
		._generated-sprite-icon( @x, @y, @width, @height, @sprite-image, @sprite-grid );
		top: @nudge-top;
		right: @nudge-right;
	}
}

.prepend-sprite-icon-pos(@x, @y, @nudge-left:0, @nudge-top:0, @sprite-grid:@sprite-grid) when (@using-modernizr) {
	.generatedcontent &:before {
		.sprite-pos(@x, @y, @sprite-grid);
		.nudge-l(@nudge-left);
		.nudge-t(@nudge-top);
	}
}

.prepend-sprite-icon-pos(@x, @y, @nudge-left:0, @nudge-top:0, @sprite-grid:@sprite-grid) when not (@using-modernizr) {
	&:before {
		.sprite-pos(@x, @y, @sprite-grid);
		.nudge-l(@nudge-left);
		.nudge-t(@nudge-top);
	}
}

.append-sprite-icon-pos(@x, @y, @nudge-right:0, @nudge-top:0, @sprite-grid:@sprite-grid) when (@using-modernizr) {
	.generatedcontent &:after {
		.sprite-pos(@x, @y, @sprite-grid);
		.nudge-r(@nudge-right);
		.nudge-t(@nudge-top);
	}
}

.append-sprite-icon-pos(@x, @y, @nudge-right:0, @nudge-top:0, @sprite-grid:@sprite-grid) when not (@using-modernizr) {
	&:after {
		.sprite-pos(@x, @y, @sprite-grid);
		.nudge-r(@nudge-right);
		.nudge-t(@nudge-top);
	}
}

// ---- internal use mixins -----------------------

._generated-icon(@width, @height, @icon-image) {
	position: absolute;
	display: block;
	content: ' ';
	background: url(@icon-image) no-repeat 0 0;
	.size(@width, @height);
}

._generated-sprite-icon(@x, @y, @width, @height, @sprite-image:@sprite-image, @sprite-grid:@sprite-grid) {
	position: absolute;
	display: block;
	content: ' ';
	.sprite-sized(@x, @y, @width, @height, @sprite-image, @sprite-grid);
}
